<footer class="mg-footer">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="mg-footer-sitemapLinks">footer sitemap links</div>
      <div class="mg-footer-countryLinks">footer country links</div>
      <div class="mg-footer-legalLinks">footer legal links</div>
      <div class="mg-footer-socialMediaLinks">footer social media links</div>
      <div class="mg-footer-copyright">footer copyright</div>

    </mat-toolbar-row>
  </mat-toolbar>
  <pre class="small">
    {{moduleData | json}}
  </pre>
</footer>
